%h1 Contact
%address
  %strong White Tiger Advisors
  %br
  15 Camelot Dr.
  %br
  Trumbull CT 06611
  
%address
  %strong Michael J. Noe
  %br
  =mail_to "mikejnoe@gmail.com", nil,  :replace_at => "_at_", :replace_dot => "_dot_", :class => "email", :encode => "javascript"
