.row
  .span1
  .span10
    =image_tag src = "https://s3.amazonaws.com/white-tiger-images/large_tiger.jpg"
  .span1
.row
  .span4
    %h2 Software Development Experience
    We've been developing software since the '80s.  We've evolved with the industry, from C, to C++, and C#.  Lately we're working with Objective-C, Ruby, and Python.
  .span4
    %h2 Quality
    We believe in Test Driven Development.  We use Cucmber on a variety of platforms for capturing and testing user stores.  We use a variety of unit and functional testing frameworks depending on the platform.
  .span4
    %h2 And Another Thing...
    These web sites just don't look right without three columns.  So we thought we'd throw in that we love to code.  It's what we do for fun.
