.row
  .span1
  .span10
    =image_tag src = "https://s3.amazonaws.com/white-tiger-images/large_tiger.jpg"
  .span1
.row
  .span4
    %h2 Experience
    We've been developing software since the '80s.  We've evolved with the industry, from C, to C++, and C#.  Lately we're working with Objective-C, Ruby, and Python.
  .span4
    %h2 Quality
    We believe in Test Driven Development.  We use Cucmber on a variety of platforms for capturing and testing user stores.  We use a variety of unit and functional testing frameworks depending on the platform.
  .span4
    %h2 Front to Back 
    Whether it's a web top, mobile or high performance server app, we've done it all.  We can help you with your solution from top to bottom. 
